.container{
	max-width: 1360px;
	width: 100%;
	margin: 0 auto;
}
.header_up {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  margin: auto 0;
}
.header_menu_center {
  margin: auto 0;
}
.header_menu_right {
  display: flex;
  margin: auto 0;
}
.header_menu_center > img:nth-child(1) {
max-width: 32px;
display: none;
}
.sign_in, .sign_up {
display: none;
}
.logo img{
	margin-right: 5px;
}
.logo p{
	font-size:20px;
}
.header_menu_center a{
	margin-left: 30px;
	color: #4F5665;
}
.header_sign_in{
	font-weight: bold;
	border: 1px solid #F6F6F6;
	color: black;
	padding: 13px 45px;
	border-radius: 25px;
}
.header_sign_up{
	font-weight: bold;
	border: 1px solid #F53855;
	color: #F53855;
	padding: 13px 45px;
	border-radius: 25px;
}
.first_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.first_text, .first_main_text {
  max-width: 600px;
  width: 100%;
}
.first_button {
  border: 1px solid #F53838;
  max-width: 103px;
  padding: 10px 48px;
  color: white;
  background-color: #F53838;
  border-radius: 8px;
  font-weight: bold;
}
.header_up {
	margin-top: 30px;
	margin-bottom: 100px;
}
.first_text{
  margin-bottom: 100px;
}
.second_block, .second_servers, .second_locations, .second_users{
  display: flex;
}
.second_block{
	justify-content: space-around;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	background-color: white;
	border: 1px solid white;
	border-radius: 8px;
	margin-bottom: 50px;
}
.second_block img{
	margin-right: 10px;
}
.second_height{
	width: 2px;
background-color: #EEEFF2;
}
.third_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.third_main_text {
  max-width: 625px;
  width: 100%;
}
.third_text {
  max-width: 600px;
  width: 100%;
}
.third_list_item{
  display: flex;
}
.fourth_block{
	text-align: center;
	margin-bottom: 50px;
}
.fourth_block h2{
	font-size: 35px;
}
.fourth_block p{
  max-width: 585px;
  margin: 0 auto;
}
.fifth_block {
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
}
.fifth_main_text{
	display: flex;
}
.fifth_block_plan h3{
	text-align: center;
}
.fifth_block_plan {
  padding: 75px 95px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  background-color: white;
}
.fifth_check img{
	padding-right: 10px;
	padding-bottom: 10px;
}
.fifth_price {
  text-align: center;
}
.fifth_button {
  border: 2px solid #F53838;
  padding: 10px;
  border-radius: 25px;
  color: #F53838;
  font-weight: bold;
}
.fifth_photo_box {
	display: flex;
	justify-content: center;
}
.fifth_main_block{
	max-height: 230px;
	height: 100%;
}
.fifth_block_plan span{
	color: #4f5665;
}
.sixth_block {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.sixth_block h2{
  font-size: 35px;
  max-width: 454px;
}
.sixth_block p{
  max-width: 590px;
}
.sixth_block{
	text-align: center;
	margin-bottom: 50px;
}
.sixth_block h2{
	font-size: 35px;
	max-width: 457px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.sixth_block p{
  max-width: 585px;
  margin: 0 auto;
}
.seventh_map {
  display: flex;
  justify-content: center;
}
.seventh_brand {
  display: flex;
  justify-content: space-around;
}
.eight_block {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.eight_block h2{
  font-size: 35px;
  max-width: 498px;
width: 100%;
margin: 0 auto;
margin-bottom: 30px;
}
.eight_block p{
  max-width: 590px;
  width: 100%;
margin: 0 auto;
}
.nineth_block{
  display: flex;
  justify-content: center;
}
.slider_up {
  display: flex;
}
.slider_photo {
  margin: auto 0;
}
.slider_raiting {
  display: flex;
}
.slider_raiting img{
  padding-bottom: 23px;
}
.slider_photo {
  margin-right: 15px;
}
.slider_name_city > p:nth-child(2) {
	/*height: 74px;*/
  margin-top: 0px;
   font-size: 12px;
  color: #4F5665;
}
.slider_name_city > p:nth-child(1) {
  margin-bottom: 4px;
}
.slider_name_city {
  /*margin-right: 119px;*/
  margin-right: 100px;
}
.slider_main > p:nth-child(1) {
  max-width: 354px;
  width: 100%;
}
.slider_up {
  max-width: 354px;
  width: 100%;
}
.slide {
  padding: 10px;
  border: 2px solid #DDDDDD;
  max-width: 375px;
  border-radius: 8px;
  height: 194px;
  margin: 0 10px;
}
.slider_raiting img {
  padding-bottom: 45px;
  padding-left: 10px;
}
.slider {
max-width: 402px;
width: 100%;
padding:20px;
/*display: flex;*/
}
.slide:nth-child(3n+1){
	border: 2px solid #F53838;
}
.prev {
  position: relative;
  top: 331px;
  left: 100px;
}
.next {
  position: relative;
  left: 170px;
  top: 50px;
}
.slick-dotted.slick-slider {
	margin-bottom: 50px;
}
.tenth_block {
  display: flex;
  justify-content: space-between;
  max-width: 1043px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 16px;
}
.tenth_block_right {
  margin: auto 0;
}
.tenth_block_left > h2:nth-child(1) {
  font-size: 35px;
  max-width: 429px;
}
.tenth_block_right > a:nth-child(1) > div:nth-child(1) {
  border: 2px solid #F53838;
  padding: 10px 29px;
  border-radius: 8px;
  color: white;
  background-color: #F53838;
  font-weight: bold;
}
.footer_logo {
  display: flex;
}
.footer_logo > img:nth-child(1) {
  margin-right: 10px;
}
.footer_logo_info > p:nth-child(1) {
  max-width: 376px;
}
.footer_social {
  margin-top: 30px;
}
.footer_copyright > p:nth-child(1) {
  font-size: 12px;
  color: #AFB5C0;
}
.tenth_block {
  margin-bottom: 50px;
}
.footer_main {
display: flex;
}
.footer_main a{
	color: #4F5665;
}
.footer_main {
  justify-content: space-between;
}
.footer_second_block > ul:nth-child(1) {
  padding-bottom: 30px;
}
.footer_main strong {
  margin-bottom: 20px;
}
.footer_second_block > ul:nth-child(1) > strong:nth-child(1) {
  margin-bottom: 20px;
}
.a.selected{
	max-height: 200px;
  background-color: #f6f6f6;
}
h1 {
  font-size: 50px;
}
body{
	font-family: verdana;
	background-color: #F6F6F6;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
	padding-top: 15px;
}
@media(max-width: 1000px){
	body{
		margin: 0 15px;
	}
	.header_menu_center > img:nth-child(1) {
		display: flex;
}
.header_menu_center a{
margin-left: 0px;
margin-top: 20px;
}
.header_up {
height: 63px;
margin-bottom: 50px;
}
.header_menu_center > img:nth-child(1) {
  max-width: 32px;
}
.header_menu_center {
margin: 0 0;
}
.header_menu_center {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-height: 32px;
  overflow: hidden;
  left: 70%;
	top: 7%;
}
.header_menu_center a {
  margin-top: 10px;
}
.header_up {
   justify-content: flex-start; 
}
.sign_in, .sign_up {
display: flex;
font-weight: bold;
}
.sign_in{
	color:black;	
}
.sign_up{
	color: red;
}
.header_menu_right{
	display: none;
}

/* style.css | file:///G:/NextCloud/Projects/test5/css/style.css */

.first_block {
  flex-direction: column-reverse;
}

.second_block{
  flex-direction: column;
}

.second_block {
  /* justify-content: space-around; */
   width: 77%;
	max-width: 900px;
}

.third_block {
  flex-direction: column;
}

/* normalize.css | file:///G:/NextCloud/Projects/test5/css/normalize.css */

.first_block_right img, .third_block_left img{
  max-width: 600px;
  width: 100%;
}

/* Элемент | file:///G:/NextCloud/Projects/test5/index.html */

.second_users_image > img:nth-child(1) {
  max-width: 50px;
}

/* Элемент | file:///G:/NextCloud/Projects/test5/index.html */

.second_locations_image > img:nth-child(1) {
  max-width: 50px;
}

/* Элемент | file:///G:/NextCloud/Projects/test5/index.html */

.second_servers_image > img:nth-child(1) {
  max-width: 50px;
}

/* Элемент | file:///G:/NextCloud/Projects/test5/index.html */

.second_users {
  max-width: 100px;
  width: 100%;
  margin: 0 auto;
}

/* Элемент | file:///G:/NextCloud/Projects/test5/index.html */

.second_locations {
  max-width: 100px;
  width: 100%;
  margin: 0 auto;
}

/* Элемент | file:///G:/NextCloud/Projects/test5/index.html */

.second_servers {
  max-width: 100px;
  width: 100%;
  margin: 0 auto;
}
.fifth_block {
flex-direction: column;
}
.fifth_block_plan {
padding: 75px 95px;
padding: 10px 40px;
margin-bottom: 10px;
}
.seventh_map > img:nth-child(1) {
max-width: 600px;
width: 100%;
}
.seventh_brand {
max-width: 100px;
display: flex;
flex-direction: column;
}
.slider_raiting{
  display: none;
}
.slider_name_city {
margin-right: 0px;
}
.prev{
  left: 100px;
}
.next{
  left: 170px;
}
.tenth_block {
flex-direction: column;
}
.footer_main {
flex-direction: column;
}
.footer_third_block ul,
.footer_first_block ul,
.footer_second_block ul,
.footer_fourth_block ul{
padding-left: 0px;
}
}